/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 de ago de 2021, 15:16:44
    Author     : Emanuelle
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.fundo_tela {
    background-color: #f5f5f5 !important;
    font-family: 'Poppins', sans-serif;
}

.barra-titulo{
    box-shadow: 0 0px 5px 0px #4682B4;
     background-color: #f8f9fa;
     color:#084d6e !important;
}
.link-atual:link{
    text-decoration: none;
    color: #4682B4;
}
.link-atual:visited{
    text-decoration: none;
    color: #4682B4;
}
.icone-painel {
    font-size:35px;
   
}

.thead-tabela{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #785aa2;}

.linha-hover{
    border-bottom: 1px solid #785aa2 !important;
}
.linha-hover:hover{
    background-color: rgba(255, 127, 80,0.1);
    color: #01004c;  
}

.barras {
  color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #3d0a91;  
}



.navegacao, .nav-link{
   text-decoration: none; 
   color: #ffffff;
}

.navegacao, .nav-link:hover{
   text-decoration: none; 
   color: #ffffff;
   
}

nav > .nav.nav-tabs{
    border: none;
    color:#fff;
    background:#F6F9FC;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 10px 10px;
    color:#000000;
    background:#F6F9FC;
    font-weight:700;
}
nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -50px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #F58322 ;
}

.tab-content{
  background: #ffffff;
    line-height: 25px;
    padding:30px 25px;
    border: 3px solid #f8f9fa;
    
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #4682B4;
    color:#ffffff;
    transition:background 0.20s linear;
}

.btn span.fa-check {    			
	opacity: 0;				
}
.btn.active span.fa-check {				
	opacity: 1;				
}

.form-select{
  border: 0;
  border-bottom: 2px solid lightgrey;
}


.form-floating textarea{
  border: 0;
  border-bottom: 2px solid lightgrey;
}

.form-floating textarea:focus{
outline: none; 
box-shadow: 0 0 5px 0 #ffffff;
border-bottom: 1px solid #6f42c1;
                
}
.form-floating input{
  border: 0;
  border: 1px solid #785aa240;
  color:#432874;
  font-weight: 500;
}

.form-floating input:focus{
outline: none; 
box-shadow: 0 0 5px 0 #ffffff;
border: 1px dashed #785aa2;
color:#785aa2;
font-weight: 600;              
}

.form-floating input:invalid{ 
                outline: none; 
                border-bottom: 2px solid #dc3545;
            }

            .labelInput{
                color: #6f42c1;
            }
.tamanhoInput{
                padding:10px 10px 10px 15px;
                height: 40px;
                color: #01004c;
                font-weight: 600;
                border-radius: 10px;
                border: none;
                width: 100%;
                font-weight: 400;
                border: none;
                background: #f8f9fa;
            }
            .tamanhoInput:focus{ 
                outline: none; 
                box-shadow: 0 0 5px 0 #ff7f50;
                border: 1px solid #ff7f50;
            }
            
            .tamanhoInput:invalid{ 
                outline: none; 
                box-shadow: 0 0 5px 0 #dc3545;
                border: 1px solid #ff7f50;
            }
            .tamanhoInput:valid{ 
                outline: none; 
                box-shadow: 0 0 5px 0 #6c757d;
                
            }
            .tamanhotextarea{
                 padding:10px 10px 10px 15px;
                color: #084d6e;
                font-weight: 600;
                border-radius: 10px;
                border: none;
                width: 100%;
                font-weight: 400;
                background: #f8f9fa;
            }
            
            .tamanhotextarea:focus{ 
                outline:none; 
                box-shadow: 0 -5px 10px -5px #ff7f50;
            }
            
            
            .modalTitulo{
                background:#3d0a91;
                color: #ffffff;
                text-decoration: none;
            }
            
            .ca:link{
                text-decoration: none;
            }
            
            .ca:hover{
                text-decoration: none;
                color: #ffffff;
            }
                        
            .icone-acao{
                font-size: 20px;
            }
            
            .maiusculas {
                text-transform: capitalize;
            }
            
            .card-rapido{
                height: 80px;
                border-radius: 20px;
        
            }
            
            .card-rapido:hover{
                height: 80px;
                border-radius: 20px; 
            }
            .card-rapido-body{
                border-radius: 15px;
            }
.header-filtro{
    background-color: #785aa2;
    color: #ffffff;
    text-decoration: none;
}

.header-filtro:hover{
    text-decoration: none;
    color: #ffffff;
}

.input-group-text{
    background-color: #785aa2;
    color: #FFD70F;
    font-size: 18px;
    height: 45px;
    width: 45px;
}

.digitacao{
    height: 45px;
    border: 1px solid #785aa2;
    font-size: 18px;
    font-weight: 600;
    color: #785aa2;
}

.digitacao:focus{
    height: 45px;
    border: 1px dashed #785aa2;
    outline: 0;
    box-shadow: 0 0 0 0;
    color: #785aa2;
    
}

.card-fundo-body{
    background-color: #f5f5f5 !important;
}

            .destaque{
                color: #785aa2;
            }         
            .table{
        white-space: nowrap;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
            }
            
            .accordion-item{
              margin-bottom: 15px;
              border-radius: 15px;
            }
            
            .accordion-body, accordion{
                border-radius: 15px;
                
            }
            
           .form-control{
                font-size: 15px;
            }
            
    .files input {
    border: 2px solid #785aa240;
    outline: 2px dashed #785aa2;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 60px 0px 100px 10%;
    text-align: left !important;
    margin: 0;
    width: 100% !important;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " Ou arraste e solte aqui. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.theadN{
    background-color: #e7f1ff;
    color: #785aa2;
}